#pct-logo {
  display: block;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#notice-text {
  margin-top: 3em;
}

#body {
  background-image: linear-gradient(180deg, white, rgba(51, 51, 202, 0.733));
  height: "100%";
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
